* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 3fr 3fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar projects announcements"
    "sidebar projects trending";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 2rem;
}

.header-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.header-top button {
    background: none;
    border: none;
}

.htl {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    background-color: gainsboro;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 1rem;
}

.htr {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hbl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hbr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.hbr button {
    background-color: rgb(29, 138, 255);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.sidebar {
    background-color: rgb(29, 138, 255);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 10fr;
    row-gap: 20px;
    padding: 1rem;
}

.sidebar button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar svg {
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}

.side-label {
    display: flex;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    gap: 1rem;
}

.side-label svg {
    width: 2rem;
    height: 2rem;
}

.group-one {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.group-two {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.group-one button, .group-two button {
    margin-bottom: 1rem;
    text-align: left;
    width: fit-content;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
}

.projects {
    grid-area: projects;
    padding: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border-left: 7px solid orange;
    padding: 20px;
    
}

.card h1{
    font-size: 1rem;
    height: fit-content;
}

.card p {
    font-size: 0.8rem;
    color: gray;
    
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    gap: 10px;
    margin-bottom: 0;
    margin-top: auto;
}

.card-buttons button {
    background: none;
    border: none;
}

.announcements {
    grid-area: announcements;
    padding: 10px;
}

.announcements-container {
    display: grid;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.announcement {
    padding: 20px;
}

.announcement h1 {
    font-size: 0.9rem;
}

.announcement p {
    font-size: 0.8rem;
    color: gray;
}

.announcement:nth-child(even) {
    border-top: 1.5px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
}

.trending {
    grid-area: trending;
    padding: 10px;
}

.trending-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: max-content;
}

.projects, .announcements, .trending {
    background-color: gainsboro;
}

.projects>h1, .announcements>h1, .trending>h1 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}

svg {
    width: 1.3rem;
    height: 1.3rem;
}

.card, .header, .announcements-container, .trending-container {
    box-shadow: 1px 1px 10px -3px;
}




