* {
  margin: 0;
  padding: 0;
}


.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar projects announcements"
    "sidebar projects trending";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.htl {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.htr {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hbl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hbr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar {
    background-color: cornflowerblue;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 10fr;
    row-gap: 20px;
}

.side-group {

}

.group-one {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.group-two {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.projects {
    grid-area: projects;
    padding: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    border-left: 5px solid orange;
    padding: 10px;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.projects, .announcements, .trending {
    background-color: gainsboro;
}